.logo {
  float: left;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;

}


.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  background-color:rgba(198, 113, 209, 0.2);
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  display: flex;
  letter-spacing: 2px;
  text-align: center;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #6e0d6a;
  margin-left: 10px;
}

.navLink {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: -moz-grabbing;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #c365e9;
}
